.prose {
    font-size: 1.1rem; /* 例：覆盖默认字体大小 */
    line-height: 1.8; /* 例：覆盖默认行高 */
  }
  
  .prose-slate {
    color: #333; /* 例：覆盖默认颜色 */
  }
  
  .lg\:prose-xl {
    font-size: 1.5rem !important; /* 使用 !important 确保覆盖 */
  }
  
  .dark\:prose-invert {
    color: #f5f5f5 !important; /* 使用 !important 确保覆盖 */
    background-color: #222 !important; /* 使用 !important 确保覆盖 */
  }
  
  .max-w-prose {
    max-width: 80ch; /* 例：增加最大宽度 */
  }